<p class="h6 text-success" id="message"></p>
<form action="" method="POST" id="productForm" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Imagen</label>
        <input type="text" class="form-control" name="image" id="image" placeholder="URL de la imagen">
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
</form>