<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td><img src="images/" width="100px" /></td>
      </tr>
     
    </tbody>
  </table>